.img {
  position: relative;
  margin: 20px 0; /* Add vertical spacing */
  width: 100%; /* Set width to full */
  height: 50vh; /* Default height for larger screens */
  overflow: hidden; /* Hide overflow */
}

.img img {
  position: absolute; /* Positioning the image */
  top: 0;
  left: 0;
  width: 100%; /* Make the image cover the full width */
  height: 100%; /* Make the image cover the full height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.content {
  color: #fff;
  font-size: larger;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to truly center */
  padding: 20px; /* Adjust padding */
  box-sizing: border-box;
  transition: all 0.9s;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .img {
    height: 30vh; /* Adjust height for mobile view */
  }
}
