.img {
  margin: 20px 0; /* Add vertical spacing */
  position: relative;
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the image */
  border: 2px solid black;
  width: 100vw; /* Set the width to full viewport width */
  height: 100vh; /* Set the height to full viewport height */
  overflow: hidden; /* Hide overflow for the content animation */
}

.img img {
  position: absolute; /* Positioning the image */
  top: 50%; /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  width: 100vw; /* Make the image cover the full width */
  height: auto; /* Maintain the aspect ratio */
  transform: translate(-50%, -50%); /* Adjust positioning */
}
.content {
  color: #fff;
  font-size: larger;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to truly center */
  height: auto; /* Adjust height as needed */
  width: auto; /* Adjust width as needed */
  padding: 50px;
  box-sizing: border-box;
  transition: all 0.9s;
}
